recursive-include store/public *
recursive-include store/www *
recursive-include store/setup *
recursive-include store/api *
recursive-include store/demo_data *
recursive-include store/demo_data/images *
recursive-include store/store/doctype *
